.faq-page{
  .block-field-blocknodearticletitle{
    text-align: center;
    margin-bottom:10px;
    span{
      font-size:30px;
      font-weight:600;
      text-transform: uppercase;
    }
  }
  .ui-accordion.ui-widget{
    transition: all 5s ease-out;
    .ui-accordion-content{
      p,a,span{
        color:$background-basic-dark-theme;
      }
    }
    .ui-state-active{
      border: 1px solid $background-basic-dark-theme;
      background:$medium-gray;
      font-weight: bold;
      color:$background-basic-dark-theme;
    }
  }
}
