#product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  .views-row{
    text-align:center;
  }
  //Field img.
  .field--commerce-product-field-media-product {
    display: flex;
    justify-content: center;
  }

  //Field title.
  .field--commerce-product-variation-title{
    font-weight:600;
    font-size:22px;
    text-align: left;
    text-transform:uppercase;
    overflow-wrap: anywhere;
    color:$white;
    margin: 0 0 20px 0;
    padding-left: 10px;
    @media (max-width: 1199px) {
      margin: 20px auto;
      padding-left: 0;
      text-align: center;
    }
  }

  //Field description.
  .field--commerce-product-field-description {
    padding-left: 10px;
    font-size:16px;
    overflow-wrap: anywhere;
    .field-label {
      font-weight: 600;
    }
    p{
      margin-bottom:0.5rem;
    }
    strong,p{
      font-size:14px;
    }
  }

  //Button "Buy".
  .field--commerce-product-variations {
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      .attribute-widgets{
        display: flex;
        gap: 15px;
      }
      @media (max-width: 420px) {
        gap: 0;
        flex-direction: column;
        .attribute-widgets{
          flex-direction: column;
          gap: 0;
          margin-bottom: 10px;
        }
        .button--add-to-cart{
          margin-top: 0;
        }
      }
      select {
        width: 170px;
        margin-bottom: 10px;
      }

      input {
        height: 2.4375rem;
        padding: 11px;
        min-width: 170px;
        margin-bottom: 0;
        margin-top: 16px
      }

      .js-form-item {
        label {
          font-weight: 600;
          color: $white;
        }
      }
    }
  }

  //Badge.
  .views-field-name {
    font-weight: 600;
    font-size: 20px;
  }

  //Block Product Restriction.
  .messages--product-restriction{
    font-size:16px;
    text-align:center;
  }

  #edit-actions{
    .is-disabled {
      display: flex;
      justify-content: center;
      margin:0;
    }
  }

  //Button "Buy" for badge.
  .field--commerce-product-variation-price {
    padding-top: 5px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom:5px;
    font-size:18px;
    @include field-label-dark-node;
    .field__item {
      margin-left: 5px;
      &:after{
        content: ' PNT';
      }
    }
  }
}
.view-order-moderation{
  .views-exposed-form{
    flex-wrap: wrap;
    .form-autocomplete{
      width: 230px;
    }
  }
  .form-save-default-button{
    display: none;
  }
  table{
    .views-field-field-order-status{
      .workflow-transition-form{
        .form-actions{
          & > input{
            margin: 2px;
          }
        }
      }
    }
  }
}

//Page "Transaction & Balance".
.field--node-field-mission-operation,
.field--commerce-order-completed,
.field--commerce-order-placed,
.field--commerce-order-state{
  display:flex;
  align-items: center;
  @include field-label-dark-node;
}

@include breakpoint(large down) {
  #product-page{
    display: grid;
    grid-template-columns: 1fr;
  }
}

//1024-320px.
@include breakpoint(medium down) {
  .gamecrm-product{
    .layout{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}

@include breakpoint(small only) {
  .field--commerce-order-mail,
  .field--commerce-order-completed,
  .field--commerce-order-placed,
  .field--commerce-order-state,
  .field--node-field-mission-operation {
    display:flex;
    align-items:flex-start;
  }
}
